<div class="title_tabs">
    <p class="title_tabs-text">
        <a href="{% url 'home' %}" class="tabs-link">Home</a>
        |
        <a href="{% url 'products' %}" class="tabs-link">Products</a>
        |
<!-- Category Tabs -->
        {% if current_categories %}
        {% for category in current_categories %}
        <span class="active-tabs">{{ category.friendly_name }} ({{ products|length}})</span>
        {% endfor %}
<!-- search Query Tabs-->
        {% elif search_term %}
        <span class="active-tabs">Results for the search term: {{ search_term|truncatechars:25 }}
            ({{ products|length}})</span>
<!-- Product Tag Tabs -->
        {% elif product_tag %}
        <span class="active-tabs">{{ product_tag }} products ({{ products|length}})</span>
        {% else %}
        <span class="active-tabs">All products ({{ products|length}})</span>
        {% endif %}
    </p>
</div>