@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Cookie&family=Open+Sans:wght@200&display=swap');

/*----------------- Overal Body-------------------*/



.container-fluid {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Archivo Narrow', sans-serif;
    overflow-x: hidden;
}

h1 {
    font-family: 'Archivo Narrow', sans-serif;
}

h2 {
    font-family: 'Archivo Narrow', sans-serif;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

main {
    min-height: calc(100vh - 165px);
}

.row {
    margin-right: 0;
}

/*-------------------- Nav Bar ------------------*/

.nav-link {
    text-transform: uppercase;
    color: black;
    line-height: 1rem;
    font-size: 1.2rem;
}

.fa-shopping-bag:before {
    font-size: 1.7rem;
}

.form-control {
    border: none;
}

.border-black {
    border: #231f20;
} 

.nav-link:hover, .nav-link-main:hover {
    text-decoration: underline;
    color: #231f20;
}

#logo {
    font-size: 2.2rem;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo:hover {
    text-decoration: none;
}

.nav-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .2rem;
}

#delivery-banner {
    background: #c19c77;
    text-transform: uppercase;
}

.nav-link-main {
    text-transform: uppercase;
    color: black;
    font-size: 1.6rem;
    padding-right: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fa-shopping-bag:before {
    font-size: 1.6rem;
}

span.badge.rounded-pill {
    color: black;
    border: 1px solid black;
    position: relative;
    top: -15px;
    left: -5px;
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
    font-size: .8rem;
    text-decoration: none;
    padding-bottom: .4rem;

}

/*-------------------- Buttons ---------------------*/

.cta {
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px 30px;
    border: #231f20;
    border-radius: 0;

}

.cta-white, .cta-black:hover {
    background-color: #c19c77;
    color: #fff9f9;
    text-decoration: none;
    border-radius: 0;
}

.cta-black, .cta-white:hover {
    background-color: #c19c77 !important;
    color: black;
    text-decoration: none;
    border-radius: 0;
}

.cta-green, .cta-green:hover {
    background-color: #fff3e0;
    color: black;
    text-decoration: none;
    margin-right: .5rem;
    border-radius: 0;
}

.cta-comment:hover {
    background-color: #c19c77!important;
    color: black;
}

.cta-comment {
    text-transform: uppercase!important;
    padding: 10px 25px!important;
    background-color: #fff3e0 !important;
    color: black;
}

/*-------------------------- Homepage --------------------------*/

.border-search {
    border: none;
    margin-left: 2rem;
    width: 80%;
}

#homepage-header {
    background: url('/media/wedding_theme.jpeg') no-repeat center center fixed;
    height: 800px;
    background-size: cover;
    margin-bottom: 4.5rem;
    height: 90vh;
    height: calc(100vh - 164px);
    color: #c19c77;
}

#home-header-h1 {
    color: #8d6e63;
    font-weight: 500;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 65px;
    text-align: left;
    margin-left: 5rem;
}

#home-header-tagline {
    font-family: 'Cookie', sans-serif;
    font-weight: 100;
    font-size: 70px;
    color: black;
    
}

#home-header {
    font-weight: 100;
    font-size: 70px;
    color: var(--color-light-black);
    font-family: 'Cookie', sans-serif;
    line-height: 1rem;
}

.header-content {
    margin-top: 20%;
}

/*-------------------- Homepage Section 1-------------------*/

.home-decor{
    text-align: center;
    font-family: 'Cookie', sans-serif;
    color: var(--color-light-black);
    font-size: 2.6rem;
}

.new {
    text-align: center;
    font-size: 3.1rem;
    line-height: 1rem;
}

.center , .center-3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
}

.home-card-3 {
    height: 375px;
    margin-top: 2rem;
}

.product-card-title {
    font-size: 1.2rem;
    text-align: center;
    color: black;
}

.product-price {
    text-align: center;
    line-height: .1rem;
    color: black;
}

.category-card-row {
    margin: 35px 0;
}

.div-product-card-img img {
    width: 100%;
    padding: 15px;
    border: 1px solid #c19c77;
}

/*------------------- Home Section 2 --------------------*/

.section-2-p {
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
}

.section-cta {
    padding-left: 1.5rem;
}

.col-xs-12 {
  margin-bottom: 12px;
  margin-top: 12px;
  min-height: 200px;
}

.half-right {
    background-color: #fff3e0;
    color: black;
} 

.half-left  img,
.half-right img {
  height: auto;
  width: 100%;
}

@media (min-width: 481px) {
.half-left,
.half-right {
    overflow: hidden;
    padding: 0;
    position: relative;
}

.half-left  > .container,
.half-right > .container {
    position: absolute;
    top: 0;
}

.half-left  > .container { right: 0;}
.half-right > .container { left: 0; }
}

h2 {
    font-size: 2.5rem;
}

/*--------------------- Products Page ------------------*/

.logo-font {
    font-weight: 500;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    letter-spacing: .1rem;
    font-size: 3rem;
    color: #8d6e63;
    padding-top: 1.3rem;
    padding-bottom: 1.1rem;
    text-transform: uppercase;
}

.row-products {
    background-color: #fff3e0;
}

.offset-1 {
    margin-top: 2.5rem;
}

.card-img-top {
    border: 1px solid #c19c77;
}

.sort-select-wrapper {
    border: 1px solid #c19c77;
}

/*--------------- Products Page/Sort By Box ---------------*/

#sort-selector {
    height: 45px;
    width: 250px;
    border: #231f20;
    color: black;
    font-size: 1rem;
    text-transform: uppercase;
    padding-left: 5%;
    outline: none;
}

.dropdown-sort-products {
    margin-top: 37px;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

/*-------------- Products Page/Title Tabs------------------*/

.title_tabs {
    margin-top: 50px;
    margin-bottom: 50px;
}

.tabs-link, .tabs-link:hover {
    color: #c19c77;
    margin: 3px;
}

.active-tabs {
    color: black;
    margin: 3px;
}

.title_tabs-text {
    text-transform: uppercase;
    font-size: 1.1rem;
}

/*-------------- Products Details Page -----------------*/

.card {
    border: none;
}

.card-header {
    background-color: #fff9f9;
    border-bottom: #231f20;
    cursor: pointer;
    padding-left: 0;
}

.btn-link:hover {
    color: black;
}

.product-details-additional {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-top: 18px;
    width: fit-content;
    display: block;
    float: left;
    color: black;
}

/*------------------ Empty Bag ----------------*/

.empty-bag {
    margin: auto;
    padding: 30px;
    max-width: 600px;
    text-align: center;
    font-size: 1.2rem;
}

.title_tabs-text-bag {
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-left: 5rem;
}

/*----------------------- Shopping bag -------------------*/

.div-line-item {
    margin: 0 auto 50px auto;
    max-width: 825px;
    border: #231f20;
    display: flex;
    margin-top: 3rem;
    padding: 1rem;
}

.input-group-product-quantity {
    border: #231f20;
    width: 120px;
}

.update-link ,.remove-item {
    cursor: pointer;
}

.remove-item {
    padding-left: 3.5rem;
}

.form-group-buttons {
    margin-bottom: .3rem;
}

/*----------------------- Toasts ----------------------*/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.btn-block {
    background-color: #c19c77;;
    color: black;
}

.btn-block:hover {
    background-color: #c19c77;
    color: black;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*-------------------- Checkout page ------------------*/

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

.submit-button .cta-white {
    margin-right: 4rem;
    border-radius: 0;
}

fieldset .form-control, #card-element {
    width: 91%;
}

.small {
    font-size: 1.1rem;
    font-weight: 400;
}

/*-------------------- About page ----------------------*/

.about-heading {
    text-transform: uppercase;
}

.about-text {
    font-size: 1.2rem;
    margin-top: .7rem;
    margin-bottom: 1rem;
}

.nav-center-2 {
    padding-left: 1rem;
}

.about-image {
   padding:15px;
   border:2px solid #fff3e0;
}

/* taken from https://www.w3schools.com/howto/howto_js_slideshow.asp */

#demo {
    background:#fff9f9;
    max-width: 800px;
    margin: auto
}

.carousel-caption {
    position: initial;
    z-index: 10;
    padding: 5rem 8rem;
    color: #c19c77;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    font-style: italic;
}

.carousel-caption img {
    width: 6rem;
    border-radius: 5rem;
    margin-top: 2rem;
}

#image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.fa-arrow-right:before, .fa-arrow-left:before {
    background-color: #c19c77;
    padding: 1.4rem;
} 

.carousel-control-prev {
    justify-content: flex-start;
}

.carousel-control-next {
    justify-content: flex-end;
}

.carousel-control-prev,
.carousel-control-next {
    transition: none;
    opacity: unset;
}

/*----------------------- Contact Form Page ---------------------*/

div#map {min-height: 360px;}

.contact-text {
    padding-top: 1rem;
    font-size: 1.2rem;
}

.store-heading {
    text-transform: uppercase;
}

.contact-heading {
    text-align: center;
    text-transform: uppercase;
}

.center-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*------ Form taken from W3schools https://www.w3schools.com/howto/howto_css_contact_form.asp ------*/

input[type=text],input[type=email], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    box-sizing: border-box;  
    margin-bottom: 16px; 
    resize: vertical ;
    border-radius: 0;
}

button, .cta-comment {
  background-color: #c19c77;
  color: black;
  text-transform: uppercase;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #c19c77;
}

.scroll-to-top {
    position: fixed;
    z-index: 1000;
    bottom: 2.5%;
    right: 5%;
    width: 48px;
    height: 48px;
    border: solid 1px;
    background-color: rgba(255, 255, 255, 0.9);
}

.fa-arrow-up:before {
    width: 30%;
    display: block;
    margin: 17px auto;
}

/*-------------------- Blog page -----------------------*/

.h2-style {
    margin: 65px auto 20px auto;
}

.paragraph-margin {
    font-size: 1.2rem;
}

.read-text {
    text-transform: uppercase;
    color: black;
    background-color: #fff3e0;
    font-size: 1rem;
    border: 1px solid #000000;
    padding: .6rem;  
}

.read-text:hover {
    color: black;
    background-color: #c19c77;
}

.article-comment {
    margin-top: 1rem;
}

.cat-title, .cat-title:hover {
    color: black;
}

.add-comment {
    padding: 0!important;
}

.nav-center-3 {
    width: 9rem;
}

.form-control {
    border: 1px solid #ced4da !important;
    border-radius: 0;
}

.line {
    border: 1px solid #E6EFD6;
}

/*-------------------- Stripe ----------------------*/

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #ced4da;
}

fieldset .form-control, #card-element  {
    width: 100%;
}

.mb {
    padding:1rem;
}

/*----------------------- Checkout success ----------------*/

.h2-order-confirmation {
    font-size: 1.3rem;
    text-transform: uppercase;
}

.pl-57 {
    padding-left: 63px;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: grey !important;
}

/*---------------------- Overlay -------------------------*/

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(241, 193, 137, 0.85);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.paid-order-details {
    width: 70%;
    margin: auto;
}

.general-container {
    max-width: 650px;
    margin-bottom: 65px;
    margin-top: 50px;
}

/*--------------------- Allauth templates --------------*/

.div-login-form {
    margin-top: .7rem;
}

.form-check label, .form-check-p, .login-p, .signup-p {
    font-size: 1rem;
}

.text-link {
    color: black;
    text-decoration: underline;
}

.div-profile-form,   
.div-password-reset-form {
    text-align: center;
}


#profile-update-form input::placeholder {
    color: grey;
}

#id_default_country option:first-child {
    color: grey;
}


/*---------------------- Profile page ------------------*/

.profile-container {
    max-width: 650px;
    margin-bottom: 65px;
    text-align: center;
}

.div-profile-order {
    border: #231f20;
    padding: 30px 20px;
}

.profile-intro-p {
    font-size: 1.1rem;
}

.div-logout-form {
    text-align: center!important;
}

/* ----------------------- Product Form ---------------- */

.btn-file {
    position: relative;
    overflow: hidden;
    background-color: #fff9f9;
    color: black;
    border: solid 1px black;
}

.btn-file:hover {
    background-color: black;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/*------------------------- Reviews --------------------------*/

.btn-outline-secondary {
    color: black;
    border: 2px solid #c19c77;
}

.btn-outline-secondary:hover {
    background-color: #c19c77;
    color: black;
}

.btn-secondary {
    color: black;
    background-color: #fff3e0;
    border-radius: 0;
    border: solid 2px #fff3e0;
}

.btn-secondary:hover {
    background-color: #fff3e0;
    color: black;
    border: solid 2px #fff3e0;
}

.btn-primary {
    color: black;
    background-color: #c19c77;
    border-color: #c19c77;
    border-radius: 0;
}

.btn-primary:hover {
    background-color: #c19c77;
    color: black;
    border: solid 2px #c19c77;
}

.border {
    border: 1px solid black !important;
}

.text-decoration-none {
    border: black !important;
    background-color: #fff9f9;
}

/*------------------------ Footer ---------------------*/

footer {
    background-color: #c19c77;
    color: #fff9f9;
    min-height: 130px;
    margin-top: 4rem;
}

.footer-link {
    text-transform: uppercase;
    display: block;
    color: #fff9f9;
    padding: .2rem;
}

.footer-link:hover {
    text-decoration: underline;
    color: #fff9f9;
}

.footer-link-brand {
    text-transform: none;
}

footer p {
    margin-bottom: 0;
}

.footer-row {
    padding-top: 35px;
    margin: 0;
}

.mb-7 {
    margin-bottom: 7px;
}

.div-footer-some {
    width: 27px;
    display: inline-block;
    font-size: 1.7rem;
}

.social-media {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.div-footer-some:hover {
    border-bottom: 1px solid #fff9f9;
}

.fa-pinterest-p:before,
.fa-facebook-f:before,
.fa-instagram:before {
    color: #fff9f9;
}

/*----------------------- Responsiveness --------------------*/

@media (max-width: 375px){
.navbar-light .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.logo-font-banner {
    font-size: 1.1rem;
}

.font-heading {
    font-size: 2.1rem;
}
.col-sm-6 {
    padding: 0;
}

#sort-selector {
    margin-right: 1.2rem;
}

.test-text {
    font-size: .9rem;
}
#home-header, #home-header-tagline {
    font-size: 45px;
}

#home-header-h1 {
    font-size: 50px;
    margin-top: 9rem;
}

.title_tabs-text-bag {
    margin-left: 0; 
}

.home-decor, .about-heading {
    font-size: 2.3rem;
}

.new  {
    font-size: 2.7rem;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.footer-row {
    padding-bottom: 20px;
}

.footer-link {
    padding-bottom: .2rem;
}

.about-details-container {
    margin-top:3rem;
}

.paragraph-margin {
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-link-main {
    padding-left: 1rem;
    font-size: 1.3rem;
}
.nav-center {
    margin-top: .7rem;
}

.logo-font {
    margin-top: .6rem;
    font-size: 1rem;
}

.submit-button .cta-white {
    margin-left: 0;
    margin-top: 15px;
    width:100%;
}

.submit-button .cta {
    -webkit-box-pack: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
    width:100%;
}

.div-profile-action-ctas, .shopping-cta, .checkout-cta {
    display: grid;
    margin-left: 1rem;
    margin-right: 0;
}

.div-profile-action-ctas .cta-white, .shopping-cta, .checkout-cta {
    margin-left: 0;
    margin-top: 15px;
    width:100%;
}

.shopping-cta, .checkout-cta {
    width: 80%;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
}

.mb-5, .my-5 {
    margin-bottom: 0rem;
}

.product-details-container {
    margin-left: 2rem;
}

.fa-shopping-bag:before {
    color: black;
}

.about-image {
    width: 350px;
    height: auto;
}

.title_tabs-text {
    padding-left: .5rem;
}
}


@media (min-width: 767px){
.nav-center {
    padding-top: .5rem;
}
.header-content {
    margin-top: 40%;
}
.nav-link-main {
    padding-left: 1rem;
}

.fa-shopping-bag:before {
    color: black;
}

.footer-row {
    padding-bottom: 1rem;
}
.navbar-toggler {
    border: 1px solid black;
    margin-left: 1rem;
}

.about-text {
    font-size: 1.3rem;
}
}

@media(max-width:768px) {
.fa-arrow-right:before, .fa-arrow-left:before {
    padding: 0.8rem;
}
 
.section-2-p {
    font-size: .9rem;
    padding: 0;
}

.section-cta {
    padding: 5px 0px 30px;
}

.div-line-item {
    margin-left: .4rem;
    }
}

@media(max-width:767px) {
    #image-caption {
        font-style: normal;
        font-size: 0.6rem;
        margin-top: 0.5rem;
    }
}

@media(max-width:767px) {
    .carousel-caption img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem;
    }
}

@media(max-width:767px) {
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem;
    }
}

@media(min-width:992px) {
    .about-image {
    width: 100%;
    height: 100%;
}
    .about-heading {
    font-size: 2rem;
    }
    .about-text {
    font-size: 1rem;
    }
}

/* -----------Slightly larger container on xl screens------------*/
@media (min-width: 1200px) {
.container {
    max-width: 80%;
  }
}

/* -----------------Allauth form formatting--------------------- */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #231f20;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: grey;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: black;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #c19c77;
    border: 1px solid #231f20;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	background-color: #c19c77;
    color: #fff9f9;
    border-color: #231f20;
}

.allauth-form-inner-content a {
	color: #c19c77; /* text-info */
}

@media (min-width: 1199px) {
.header-content {
    margin-top: 20%;
}

.nav-center {
    padding-top: 0;
}
}