<!-- Main Nav items -->
<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-none d-lg-none">
            <a class="nav-link-main" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link-main" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Products <span class="sr-only">(current)</span></a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                <a href="{% url 'products' %}?category=balloons_0-9" class="dropdown-item">Balloons 0-9</a>
                <a href="{% url 'products' %}?category=balloons_a-z" class="dropdown-item ">Balloons A-Z</a>
                <a href="{% url 'products' %}?category=custom_made_balloons" class="dropdown-item ">Custom Made Balloons</a>
                <a href="{% url 'products' %}?category=more_balloons" class="dropdown-item ">More Balloons</a>
                <a href="{% url 'products' %}" class="dropdown-item"> All Products</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link-main" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link-main" href="{% url 'post' %}">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link-main" href="{% url 'contact' %}">Contact</a>
        </li>
    </ul>
</div>