{% extends "base.html" %}
{% load static %}


{% block content %}
<!--- Header --->
<div class="container-fluid">
    <div class="row-products">
        <div class="col text-center mt-3 mb-3 pb-1">
            <h2 class="logo-font">About</h2>
        </div>
    </div>
    <!--- About image --->
    <div class="container">
        <div class="row align-items-center my-4">
            <div class="col-12 col-md-6">
                <div class="image-container my-4">
                    <img src="/media/about-1.jpeg" alt="about-photo" width="550" height="400" class="about-image">
                </div>
            </div>
            <!--- About text container --->
            <div class="col-12 col-md-12 col-lg-6">
                <div class="about-details-container mb-5 mt-md-5">
                    <h2 class="about-heading text-center">My Story</h2>
                    <hr class="w-50 mb-1">
                    <p class="about-text">Hello, my name is Shakira Lacroes, the face behind Fancy Day Design. As a young girl I regularly did photo shoots with my sisters. Everything had to be perfect, not only our clothes but also the background had to be in the right style. Even then I knew my awareness of decorating was growing and when it would stand out in a photo. <br/>

                        Before I started decorating, I was active in youth care for many years. I've always enjoyed doing this. In all those years I have organized and decorated various birthdays, baby showers for almost everyone in my immediate environment. Because of my passion for decorating, it was a logical step to do this professionally as a professional party stylist.<br/><br/>
    
                        I have already successfully contributed to many events. I am proud of the good reviews and if the customer is happy, my goal has been achieved! Also, there are already thousands of people who like and follow me on Instagram.
                        As a customer you expect the highest level of quality from Fancy Day Design, together with the most pampering beautiful and unforgettable party experience. With wisdom and experience comes an eye for detail. It is this expectation of luxury that forms the basis of my work as a party stylist.<br/>
                    </p>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container hp-section-1-heading">
        <h2 class="home-decor">My Success</h2>
        <h3 class="new">Gallery</h3>
        <img src="/media/logo_small.jpg" width="200" height="200" alt="logo" class="center-3">
    </div>
    <!--- Testimonials --->
    <div class="container mt-4">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-caption">
                        <p class="test-text">I have bought three pieces so far from Boutique. Everything has been amazing
                            quality. The pictures are true to detail and very pretty.
                            Delivery is fast also. </p> <img src="https://i.imgur.com/lE89Aey.jpg" alt="nick-doe">
                        <div id="image-caption-1">Nick Doe</div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption">
                        <p class="test-text">I contacted Sarah and Emily a couple of weeks ago as I had just
                            moved home and wanted something out of my comfort zone. They had so many great
                            recommendations and ideas. I am so happy with how my House turned out.
                        </p> <img src="https://i.imgur.com/QptVdsp.jpg" class="img-fluid" alt="michael-greves">
                        <div id="image-caption-2">Michael Greves</div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption">
                        <p class="test-text">I have known the two girls for a couple of years. We have worked on a few projects
                            together. It's always a pleasure working with them. They are very friendly and down to earth
                            people.
                            Looking forward to working with them in the future.
                        </p> <img src="https://i.imgur.com/jQWThIn.jpg" class="img-fluid" alt="harry-mon">
                        <div id="image-caption-3">Harry Mon</div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev"> <i class="fas fa-arrow-left"></i>
            </a> <a class="carousel-control-next" href="#demo" data-slide="next"> <i class="fas fa-arrow-right"></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}