{% block content %}
<!--- Header Text --->
<div class="container-fluid div-section">
    <div class="container hp-section-1-heading">
        <img src="media/logo_small.jpg" width="200" height="200" alt="logo" class="center-3"></br>
            <h2 class="home-decor">Be Inspired....</h2>
    </div>

<!--- Be Inspired Images --->
    <div class="row hp-section-3">
        <div class="container">
            <div class="row product-card-row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="div-product-card">
                        <div class="div-product-card-img">
                            <img src="media/home-1.jpg" alt="diner" class="hp-card-3"> 
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="div-product-card">
                        <div class="div-product-card-img">
                            <img src="media/home-2.jpg" alt="baby" class="hp-card-3">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="div-product-card">
                        <div class="div-product-card-img">
                            <img src="media/home-3.jpg" alt="birthday" class="hp-card-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}